body{
    margin: 2%;
    font-family: 'Rubik';
    background-color: white;
    
}

button{
    cursor: pointer;
    font-size: 14px;
    color: white;
    background-color: #fc4100;
    border-radius: 8px;
    padding: 8px 40px;
    margin-top: 10px;
    border: 2px solid black;
}  

h5{
    font-weight: bolder;
    color: #fc4100;
}


.maisPopulares{
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    color: #fc4100;
    text-align: center;
}


.containersup{
    display: flex;
    gap: 1.4rem;
    margin-bottom: 40px;
    padding: 0%;
    align-items: center;
    
    margin-left: 5%;
    margin-right: 5%;
}
.espaco{
    flex-grow: 1; 
}

.containerbanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    gap: 40px;

}

.busca_formato{
    border-radius: 25px;
    font-size: large; 
}

.fav_formato{
   color: black;
   
}
    


.banner{
    height: 12.25rem;
    border-radius: 0.313rem;
    box-shadow: 0.5rem 0.1rem 0.43rem #fc4100;
}

.bannerB{
  text-align: center;
  margin-top: 1.8rem;
}


.mp{
    
    height: 200px;
    border-radius: 5px;
    border-style: outset;
    color: lightgrey;
    
}

.container{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 30px;
}

.links{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    
}


