body{
    margin: 2%;
    font-family: Arial;
    
}

button{
    cursor: pointer;
    font-size: 14px;
    color: white;
    background-color: black;
    border-radius: 8px;
    padding: 8px 40px;
    margin-top: 10px;
    border: none;
}  

h5{
    font-weight: bolder;
}


.maisPopulares{
    font-weight: bold;
    font-size: 30px;
}


.containersup{
    display: flex;
    gap: 1.4rem;
    margin-bottom: 40px;
    padding: 0%;
    align-items: center;
    
    margin-left: 5%;
    margin-right: 5%;
}
.espaco{
    flex-grow: 1; 
}

.containerbanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    gap: 40px;
    
}

.busca_formato{
    border-radius: 25px;
    font-size: large; 
}

.fav_formato{
    color: black;
   
}
    

.banner{
    height: 11.25rem;
    border-radius: 0.313rem;
    box-shadow: 0.125rem 0.12rem 0.43rem rgb(139, 139, 139);
}

.bannerB{
  text-align: center;
  margin-top: 1.8rem;
}


.mp{
    width: 250px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgb(139, 139, 139);
    
}

.container{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 30px;
}

.links{
    text-decoration: none;
    font-size: 1.1em;
    color: black;
}

